main {
  width: 100%;
  height: 100%;
  background: #fcfcfd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    width: 1294px;
    height: 1215px;
    margin: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
