.profile {
  width: 1294px;
  height: 332px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 12px;

  &__container {
    width: 1246px;
    height: 284px;
    margin: 24px;
    position: relative;

    .bio {
      width: 100%;
      height: 192px;
      img {
        border-radius: 12px;
      }
    }

    .profile-details {
      width: 1246px;
      height: 144px;
      position: absolute;
      left: 0;
      bottom: 0;

      .box {
        width: 1182px;
        height: 144px;
        margin: 0 32px;
        display: flex;
        align-items: center;
        gap: 24px;

        .avatar {
          width: 144px;
          height: 144px;

          img {
            width: 144px;
            height: 144px;
          }
        }

        .content {
          width: 1014px;
          height: 132px;
          display: flex;
          align-items: end;

          .heading {
            width: 100%;
            height: 68px;
            display: flex;
            gap: 16px;

            .text {
              width: 855px;
              height: 68px;
              display: flex;
              flex-direction: column;
              gap: 8px;

              .status {
                width: 202px;
                height: 28px;
                display: flex;
                justify-content: space-between;

                .badge {
                  width: 88px;
                  height: 28px;
                  background: #fffaeb;
                  mix-blend-mode: multiply;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 16px;
                  gap: 7px;

                  .dot {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #f79009;
                  }

                  p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #b54708;
                  }
                }

                p {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  color: #475467;
                }
              }

              h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #101828;
              }
            }

            button {
              width: 143px;
              height: 36px;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              color: #344054;
              background: #ffffff;
              border: 1px solid #d0d5dd;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              border-radius: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
